<div class="wrapper wrapper_padding clearfix">
        <div class="col-1 about homepage_content">
            <h2>About</h2>
            <hr>
            <p>
                I'm an aspiring DevOps Engineer living in Walnut Creek, California.
            </p>
            <p>
                Windows admin by day, Linux aficionado by night. I have a decade of experience as an IT professional. It all started for me as a computer repair tech for a small retail customer-comes-first shop before I quickly grew into enterprise IT support and have worked in various official and unofficial roles ever since. Some examples would be: system administration, engineering, analysis in best practices, automation, tool-making, documentation, training, streamlining procedures and solving business problems by researching, learning and applying the best technological solutions available.
            </p>
            <p>
                After many years of witnessing the shrinking of user support and operations roles, along with once monolithic business applications now commonly hiding critical features behind API calls, It's become clear to me what the future of IT is going to look like. Rapidly moving towards the requirement of more developer roles and requiring less of anything else. With this in mind, the main purpose of this blog is for me to chronicle my highs and lows as I build a out a foundation as a developer so I can keep pace with the industry I love so much.
            </p>
            <p>
                If you'd like to find out more about what I know, I recommend to check out my <a href="http://eric-post.ddns.net/posts/my-devops-story-or-how-i-got-myself-this-far" target="_blank">My DevOps Story</a> along with my newer articles and projects.
            </p>
        </div>
        <div class="col-2 homepage_content">
            <h2>My Articles</h2>
            <hr>

            <% @posts.each do |post| %>
              <h3><a href="#"><%= link_to post.title, post %></a><h3>
              <p class="date"><%= post.created_at.strftime("%A, %b, %d") %>
            <% end %>

        </div>
        <div class="col-3 homepage_content">
            <h2>My Projects</h2>
            <hr>

            <% @projects.each do |project| %>
              <h3><a href="#"><%= link_to project.title, project %></a></h3>
              <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
            <% end %>
        </div>
    </div>